:root {
  --color-primary: #729B1B;
  --color-secondary: #AF8A1D;
  --color-background: #141414;
  --color-surface: #242424;
  --color-node-shadow: #666;
  --color-node-shadow-focused: #888;
  --color-node-stroke: white;
  --text-on-surface: white;
  --text-on-primary: white;
  --text-on-secondary: white;
  --shadow-base: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--color-background);
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
}

* {
  color: var(--text-on-surface);
  font-family: 'Readex Pro', sans-serif;
}


.primary {
  background: var(--color-primary);
  color: var(--text-on-primary);
}

.secondary {
  background: var(--color-secondary);
  color: var(--text-on-secondary);
}

.card {
  background-color: var(--color-surface);
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}

button,
.button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.25em;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 0.5em 0.75em;
}
